<section class="contact">
  <h1>Contactez-moi</h1>
  <p class="contact-intro">
    ✨ Faisons équipe pour construire quelque chose d’impactant ! Un message suffit pour démarrer une belle collaboration.
  </p>

  <div class="contact-cards">

     <div class="card">
      <i class="fas fa-home"></i>
         <span>Houilles</span>
    </div>
    <div class="card">
      <i class="fas fa-envelope"></i>
      <a href="mailto:yayaetud@gmail.com">yayaetud&#64;gmail.com</a>
    </div>

    <div class="card">
      <i class="fas fa-phone"></i>
      <span>+33 782 251 234</span>
    </div>

    <div class="card">
      <i class="fab fa-linkedin"></i>
      <a href="https://www.linkedin.com/in/mariam-12/" target="_blank">LinkedIn</a>
    </div>

    <div class="card">
      <i class="fab fa-github"></i>
      <a href="https://github.com/Mariamyaya" target="_blank">GitHub</a>
    </div>

    <div class="card">
      <i class="fab fa-whatsapp"></i>
      <a href="https://wa.me/33782251234" target="_blank">WhatsApp</a>
    </div>
  </div>
</section>
