<!-- SECTION À PROPOS -->
<section class="about">
  <div class="about-container">
    <!-- IMAGE -->
    <div class="about-image">
      <img src="/images/image.png" alt="Photo de Mariam Yaya Traore" />
    </div>

    <!-- TEXTE -->
    <div class="about-text">
      <h1>À propos de moi</h1>
      <p>
      Je suis Mariam Yaya, ingénieure en devenir, passionnée par l’art de transformer des idées en expériences numériques concrètes.
      En 4ᵉ année d’école d’ingénierie informatique, spécialité Software Engineering, j’aime concevoir des solutions utiles, intuitives et performantes. 
      Ce qui m’anime? Le mélange subtil entre une interface élégante, un backend robuste et une logique fluide.
      </p>
      <p>De l’HTML au CSS, d’Angular à Python, en passant par Java et SQL, chaque technologie est pour moi un outil pour façonner des projets qui ont du sens. 
      Qu’ils soient personnels ou académiques, ils nourrissent ma curiosité, affûtent ma rigueur, et renforcent mon envie de toujours apprendre et créer.
      </p>
      <p>
       En tant que développeuse, je conçois des applications complètes, de l’interface utilisateur au backend, avec une expertise affirmée en Angular, Python et Java. 
       Chaque projet est pour moi l’occasion de conjuguer performance, ergonomie et élégance du code. 
       Je maîtrise les outils modernes comme Git, GitHub, GitLab ou Figma, et je place l’expérience utilisateur au cœur de mes réalisations.
       Mes projets académiques et personnels m’ont permis d’acquérir une vision globale du développement, en associant logique métier, design d’interface et intégration de bases de données.
       J’aime coder, structurer, itérer… mais surtout, donner vie à des idées à travers des solutions digitales concrètes et utiles.
      </p>
    </div>
  </div>
</section>

<section class="skills">
  <h2>Mes compétences</h2>

  <div class="skills-grid">
    
    <div class="skills-column">
      <h3><i class="fas fa-code"></i> Frontend</h3>
      <ul>
        <li *ngFor="let tech of frontendTechnos">
          <i [class]="tech.icon"></i> {{ tech.name }}
        </li>
      </ul>
    </div>

    <div class="skills-column">
      <h3><i class="fas fa-code"></i>Backend</h3>
      <ul>
        <li *ngFor="let tech of  backendTechnos">
          <i [class]="tech.icon"></i> {{ tech.name }}
        </li>
      </ul>
    </div>

    <div class="skills-column">
      <h3><i class="fas fa-layer-group"></i> Designe UI</h3>
      <ul>
        <li *ngFor="let fw of designUi">
          <i [class]="fw.icon"></i> {{ fw.name }}
        </li>
      </ul>
    </div>

    <div class="skills-column">
      <h3><i class="fas fa-layer-group"></i> Ouitls et Methodologies</h3>
      <ul>
        <li *ngFor="let fw of outilDeVersion">
          <i [class]="fw.icon"></i> {{ fw.name }}
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="experiences">
  <h2>Expériences professionnelles</h2>
  <div *ngFor="let exp of experiences" class="experience-card">
    <h3>{{ exp.poste }} - {{ exp.entreprise }}</h3>
    <p><strong>Date :</strong> {{ exp.annee }}</p>
    <p>{{ exp.description }}</p>
  </div>
</section>

<section class="experiences-acd">
  <h2>Expériences académiques</h2>
  <div *ngFor="let exp of experiences_acd" class="experience-card">
    <h3>{{ exp.entreprise }} - {{ exp.filiere }}</h3>
   
    <p><strong>Année :</strong> {{ exp.annee }}</p>
    <p>{{ exp.description }}</p>
  </div>
</section>
