<section class="home">
  <div class="intro">
    <h1>Bonjour, je suis <span class="name">Mariam Yaya Traore</span></h1>
    <h2>Ingénieure logiciel</h2>
    <p>
    En tant qu’ingénieure en développement logiciel, je suis animée par la volonté de concevoir des solutions logicielles fiables, modernes et orientées utilisateur.
    Je m’investis pleinement pour rester à jour sur les dernières technologies et contribuer activement à la réussite des projets auxquels je participe.
    </p>
    <div class="action-buttons">
      <!-- Bouton CV -->
      <a class="btn download-btn" href="/files/CV_Mariam_Yaya.pdf" download target="_blank">
        <i class="fas fa-download"></i> Télécharger mon CV
      </a>

      <!-- Réseaux sociaux -->
      <a href="https://github.com/Mariamyaya" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/mariam-12/" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://wa.me/33782251234" target="_blank" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>

  </div>
</section>
